* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleyway', sans-serif;
}

.main {
    background-image: url("./images/background.svg");
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    width: 100%;
}

.logo-menu {
    width: 50%;
}

.items-menu {
    width: 60%;
    display: flex;
    align-items: center;
}

.items-menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 12px;
}

.items-menu a:hover {
    border-bottom: 3px solid #FFDD33;
}

.contact-btn {
    display: inline-block;
    background-color: #0F3FD3;
    padding: 15px 30px;
    border-radius: 10px;
}

.contact-btn:hover {
    border: none;
}

.mockup {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.mockup h1 {
    font-size: 50px;
}

.mockup img {
    max-width: 100%;
}

.marcas {
    padding: 100px 0;
}

.marcas img {
    width: calc(100% / 5);
}

.porque-nos {
    width: 100%;
    padding: 40px 0;
    background-color: #FBFCFE;
}

.porque-nos>.center>h2 {
    font-size: 64px;
    text-align: center;
    width: 100%;
}

.porque-nos>.center {
    max-width: 1280px;
}

.porque-nos>.center>p {
    font-size: 20px;
    color: #ccc;
    text-align: center;
    width: 100%;
    margin-top: 12px;
}

.diferenciais {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 24px;
}

.box-diferenciais {
    width: 100%;
    height: 350px;
    padding: 10px 40px;
    box-shadow: 0px 20px 40px #2426721C;
    border-radius: 10px;
}

.box-diferenciais h3 {
    font-size: 22px;
    color: #000;
    margin: 25px 0;
}

.box-diferenciais p {
    font-size: 16px;
    color: #7E92AC;
    margin-bottom: 20px;
}

.box-diferenciais img {
    width: 100px;
    margin: 0 0 -34px -30px;
}

.cta {
    background-image: url("images/banner-contact.svg");
    background-position: center;
    background-size: cover;
    padding: 20px 10px;
    min-height: 250px;
    text-align: center;
    color: #fff;
}

.cta h2,
.cta h4 {
    font-weight: normal;
    margin: 20px 0;
}

.cta h2 {
    font-size: 35px;
}

.cta a {
    display: inline-block;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.88px;
    background-color: #FFDD33;
    text-decoration: none;
    color: #0F3FD3;
    border-radius: 10px;
}

.lista-beneficios {
    width: 40%;
    margin-top: 10%;
}

.lista-beneficios h1 {
    font-size: 40px;
}

.lista-beneficios p {
    vertical-align: middle;
    font-size: 16px;
    color: #7E92AC;
    max-width: 500px;
}

.lista-beneficios span {
    display: inline-block;
    width: calc(100% - 80px);
}

.lista-beneficios img {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.lista-beneficios a {
    display: inline-block;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.88px;
    background-color: #255AFF;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.img-beneficios {
    width: 60%;
    margin-top: 5%;
}

.img-beneficios img {
    max-width: 100%;
    vertical-align: middle;
}

/* Depoimentos */
section.depoimentos {
    background-color: #FBFCFE;
    padding: 40px 0;
}

section.depoimentos>h1 {
    text-align: center;
    font-size: 50px;
}

.container-slider {
    overflow: hidden;
    padding: 40px 20px;
}

.container-slider-single {
    float: left;
    height: 350px;
    background-color: white;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 20px 50px #70707016;
}

.container-slider-single h3 {
    margin-bottom: 6px;
}

.container-slider-single>span {
    color: #7E92AC;
}

.container-slider-single p {
    margin: 15px 0;
    color: #7E92AC;
    font-size: 14px;
}

.slick-slide {
    margin-left: 27px;

}

/* the parent */
.slick-list {
    margin-left: -27px;

}

/****SLICK SLIDER****/

.slick-dotted ul {
    display: block;
    list-style-type: none;
    text-align: center;
    position: relative;
    top: 30px;
}

.slick-dotted li {
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus {
    outline: 0;
}

.slick-dotted li button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #d8d8d8;
    border-width: 0;
    background: #d8d8d8;
    opacity: 1;
    cursor: pointer;
}

li.slick-active button {
    background: #255AFF;
    color: #255AFF;
}

.slick-slide:focus {
    outline: none;
}

/* Contato */

.contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 20px;
    margin: 5% 0;
}

.contato h1 {
    font-size: 45px;
}

.contato input,
.contato textarea {
    max-width: 90%;
    width: 600px;
    height: 65px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #47505d;
    border: 2px solid #C3CCE8;
    background-color: #FCFDFF;
    border-radius: 10px;
    outline: none;
}

.contato input::placeholder,
.contato textarea::placeholder {
    color: #7E92AC;
}

.contato textarea {
    resize: vertical;
    height: 200px;
    padding-top: 20px;
}

.contato button {
    width: 90%;
    max-width: 600px;
    height: 60px;
    background-color: #255AFF;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1.88px;
    text-transform: uppercase;
}

/* Footer */

footer {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    background-color: #255AFF;
    color: #fff;
    text-align: center;
}

footer h4 {
    text-align: center;
}

.footer-menu {
    display: flex;
    align-items: center;
}

.footer-menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 12px;
}

.footer-menu a:hover {
    border-bottom: 3px solid #FFDD33;
}

.items-menu .contact-btn:hover,
.footer-menu .contact-btn:hover {
    border: none !important;
}

@media screen and (max-width: 768px) {

    .items-menu{
        display: none;
    }
    .logo-menu{
        width: 100%;
        text-align: center;
    }

    .lista-beneficios,
    .img-beneficios {
        width: 100%;
        margin-bottom: 30px;
    }

    .diferenciais {

        flex-wrap: wrap;

    }

    .box-diferenciais {

        width: 100%;
        margin-right: 0;

    }

    .lista-beneficios {
        text-align: center;
    }


    section.marcas>.center {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    section.marcas img {
        max-width: 300px;
        width: 100%;
    }

    .footer-menu {
        display: none;
    }
}